{% extends 'base.html.twig' %}

{% block title %} Users {% endblock %}

{% block body %}
    <h4>Current Users</h4>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.email }}</td>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_register') }}">Create new user</a>
{% endblock %}
